<ion-header class="corzinha" >
  <ion-toolbar color="facil" class="title">
    <ion-title class="rd">RNA e DNA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fundo">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Introdução:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      São ácidos nucleicos que possuem diferentes estruturas e funções. Enquanto o DNA é responsável por armazenar as informações genéticas dos seres vivos, o RNA atua na produção de proteínas.

Essas macromoléculas são subdivididas em unidades menores, os nucleotídeos.
    </ion-card-content>
    <img alt="Silhouette of mountains" src="../../../assets/bio/rd.png" />

    <ion-card-header>
      <ion-card-title>Principais Diferenças entre DNA e RNA:</ion-card-title>
      <ion-card-subtitle>DNA: o que é, estrutura e função </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      O DNA é uma molécula que transmite informações genéticas codificadas de uma espécie para os seus sucessores.
Ele determina todas as características de um indivíduo e sua composição não muda de uma região do corpo para outra, nem com a idade ou ambiente.
    </ion-card-content>
    <ion-card-content>
    Descrição do modelo helicoidal por Watson e Crick baseou-se no estudo das bases nitrogenadas de Erwin Chargaff, que empregando a técnica de cromatografia conseguiu identificá-las e quantificá-las.
As imagens e dados por difração de raios X obtidos por Rosalind Franklin, que trabalhava com Maurice Wilkins no King's College London, foram decisivos para a dupla chegar ao modelo apresentado.
</ion-card-content>
  <img alt="Silhouette of mountains" src="../../../assets/bio/dna.png" />

  <ion-card-title>Estrutura do DNA:</ion-card-title>
  <ion-card-subtitle>A estrutura do DNA é formada por: </ion-card-subtitle>
    <ion-card-content>
      - Esqueleto de fosfato (P) e açúcar (D) alternados, que se dobram formando uma dupla-hélice.
    </ion-card-content>
    <ion-card-content>
      -Bases nitrogenadas (A, T, G e C) ligadas por pontes de hidrogênio, que se projetam para fora da cadeia.
    </ion-card-content>
    <ion-card-content>
      -Nucleotídeos unidos por ligações fosfodiésteres.
    </ion-card-content>

    <ion-card-title>As funções do DNA são:</ion-card-title>
      <ion-card-content>
        - Transmissão de informações genéticas: as sequências de nucleotídeos pertencentes às fitas de DNA codificam informações. Essas informações são transferidas de uma célula mãe para as células filhas pelo processo de replicação do DNA.
      </ion-card-content>
      <ion-card-content>
        - Codificação de proteínas: as informações que o DNA carrega são utilizadas para produção de proteínas, sendo o código genético responsável pela diferenciação dos aminoácidos que as compõem.
      </ion-card-content>
      <ion-card-content>
        - Síntese de RNA: a transcrição do DNA produz RNA, que é utilizado para produzir proteínas através da tradução.
      </ion-card-content>
      <ion-card-content>
        Antes da divisão celular, o DNA é duplicado para que as células produzidas recebam a mesma quantidade de material genético. A quebra da molécula é feita pela enzima DNA-polimerase, dividindo as duas fitas e se refazendo em duas novas moléculas de DNA.
      </ion-card-content>

      <ion-card-title>RNA: o que é, estrutura e função </ion-card-title>

    <ion-card-content>
      O RNA é um polímero cujos elementos da fita de ribonucleotídeos estão ligados covalentemente.

Trata-de do elemento que está entre o DNA e a produção de proteínas, ou seja, o DNA se reestrutura para formar o RNA, que por sua vez codifica a produção de proteínas.
    </ion-card-content>

  <img alt="Silhouette of mountains" src="../../../assets/bio/rna.png" />

  <ion-card-title>Síntese de proteínas::</ion-card-title>
  <ion-card-subtitle>A estrutura do RNA é formada por: </ion-card-subtitle>
    <ion-card-content>
      - Ribonucleotídeos: ribose, fosfato e bases nitrogenadas.
      </ion-card-content>
    <ion-card-content>
      - Bases púricas: adenina (A) e guanina (G).
    </ion-card-content>
    <ion-card-content>
      - Bases pirimídicas: citosina (C) e uracila (U).
    </ion-card-content>

    <ion-card-title>As funções do RNA são:</ion-card-title>
      <ion-card-content>
        - RNA ribossômico (RNAr): formação dos ribossomos, que atuam na ligação dos aminoácidos em proteínas.
      </ion-card-content>
      <ion-card-content>
        - RNA mensageiro (RNAm): transmissão da mensagem genética para os ribossomos, indicando quais os aminoácidos e qual a sequência que devem compor as proteínas.
      </ion-card-content>
      <ion-card-content>
        - RNA transportador (RNAt): direcionamento dos aminoácidos no interior das células para o local de síntese de proteínas.
      </ion-card-content>
      <ion-card-content>
        Para ocorrer a síntese de proteínas, alguns trechos de DNA são transcritos para o RNA mensageiro, que leva a informação ao ribossomo. O RNA transportador é responsável por trazer os aminoácidos para produção das proteínas. O ribossomo fabrica a cadeia polipeptídica de acordo com a descodificação da mensagem recebida.
      </ion-card-content>
  </ion-card>

  <ion-button color="facil" class="pt" fill="solid" routerLink="/biologia" >Voltar</ion-button>
  <ion-button color="facil" class="siga" fill="solid" href="https://www.todamateria.com.br/exercicios-sobre-dna/#:~:text=DNA%20e%20RNA%20apresentam%20diferentes,s%C3%ADntese%20de%20prote%C3%ADnas%20na%20c%C3%A9lula.">Ir para Exercícios</ion-button>


</ion-content>
