.titulo {
  color: #790505;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subtitulo {
  color: #af825b;
  font-size: 18px;
  font-family: 'Fantasy';
}
.app{
  color: #af825b;
  text-align: left;
  font-size: 20px;
  font-family: 'Brush Script' ;
}
.imagem {
  width: 80px;
  height: 80px;

}
.fundo{
  color: #d9d9d9;
}
.grid{
  color: #790505;
  border-style: solid;
  border-radius: 12px;
  border-width: 8px;
  background-color: #d9d9d9;
  margin-bottom: 0px;
  height: 400px;
  margin-top: 30px;
}
.senha{
  text-align: center;
  color: #000000;
}
.bandeira{
 width: 70px;
 height: 70px;
 margin-top: 0px;
 margin-left: 220px;
}
.les{
  text-align: center;
  margin-top: 20px;
}
.grude{
  padding-top: 0px;
}
.entrar{
  color: #000000;
  text-align: center;
  padding-left: 26%;
  margin-top: 20px;
  height: 50px;
  width: 260px;
}
