<ion-header>
  <ion-toolbar color="principal" class="toto">
    <ion-title class="title">Física</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fundo">
  <ion-card class="prim" color="facil">
    <ion-card-header >
      <ion-card-title class="titu">Energia</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card  color="facil">
    <ion-card-header >
      <ion-card-title class="titu">Eletricidade</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card  color="medio">
    <ion-card-header >
      <ion-card-title class="titu">Correntes elétricas</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card  color="medio">
    <ion-card-header >
      <ion-card-title class="titu">Mecânica</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card  color="dificil">
    <ion-card-header >
      <ion-card-title class="titu">Óptica</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card  color="dificil">
    <ion-card-header >
      <ion-card-title class="titu">Termofísica</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- fab/ botão voltar -->
  <ion-fab vertical="bottom" horizontal="left" slot="fixed" routerLink="/tabs/tab1">
    <ion-fab-button color="principal" >
      <ion-icon color="subcor" name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
