

<ion-content color="fundo" [fullscreen]="true">

  <div class="header"></div>

    <div class="user">
    <img src="https://ionicframework.com/docs/img/demos/avatar.svg" class="profile"/>
    </div>


    <div class="verified-icon"></div>



  <p class="name">Karoline Pascine</p>
  <ion-card color="principal" class="div" >
    <div>
      <ion-progress-bar type="indeterminate" color="danger"></ion-progress-bar>
      <p class="sel">Selecionar Desempenho</p>
      <ion-row>
        <ion-col>
        </ion-col>

        <ion-col class="color">
          <ion-list >
            <ion-item >
              <ion-select class="penho" placeholder="Selecionar desempenho">
                <ion-select-option value="bio" color="ffffff">Biologia</ion-select-option>
                <ion-select-option value="esp">Espanhol</ion-select-option>
                <ion-select-option value="filo">Filosofia</ion-select-option>
                <ion-select-option value="física">Física</ion-select-option>
                <ion-select-option value="geo">Geografia</ion-select-option>
                <ion-select-option value="hist">História</ion-select-option>
                <ion-select-option value="ing">Inglês</ion-select-option>
                <ion-select-option value="lp">Língua Portuguesa</ion-select-option>
                <ion-select-option value="mat">Matemática</ion-select-option>
                <ion-select-option value="quim">Química</ion-select-option>
                <ion-select-option value="red">Redação</ion-select-option>
                <ion-select-option value="socio">Sociologia</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
     <ion-progress-bar type="indeterminate" color="danger" class="baixinho"></ion-progress-bar>
  </ion-card>

  <div class="ion-no-padding">
    <p class="section-title">Metas</p>
    <ion-slides class="slides" [options]="slideOpts">
      <ion-slide class="historia-preview">

        <div>
          <ion-card class="materia"></ion-card>
      </div>

      </ion-slide>
    </ion-slides>
  </div>




</ion-content>
