<ion-header>
  <ion-toolbar color="principal" class="toto">
    <ion-title class="title">Redação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fundo">
  <ion-card class="prim" color="facil">
    <ion-card-header >
      <ion-card-title class="titu">Introdução á redação</ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-card  color="medio">
    <ion-card-header >
      <ion-card-title class="titu">Como entender uma redação</ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-card routerLink="/compl"  color="dificil">
    <ion-card-header >
      <ion-card-title class="titu">Competência I</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/compll" color="dificil">
    <ion-card-header >
      <ion-card-title class="titu">Competência II</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/complll" color="dificil">
    <ion-card-header >
      <ion-card-title class="titu">Competência III</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/complv" color="dificil">
    <ion-card-header >
      <ion-card-title class="titu">Competência IV</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink="/compv" color="dificil">
    <ion-card-header >
      <ion-card-title class="titu">Competência V</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- fab/ botão voltar -->
  <ion-fab vertical="bottom" horizontal="left" slot="fixed" routerLink="/tabs/tab1">
    <ion-fab-button color="principal" >
      <ion-icon color="subcor" name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
