.title{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  border-radius: 6px;
  height: 70px;
 }
 .corzinha{
   background-color: #d9d9d9;
 }
 .rd{
   margin-top: 7px;
   font-style: italic;
 }
 .pt
 {
   margin-left: 10px;
 }
 .siga{
   margin-left: 100px;
 }
