
.icon{
  color: #af825b;
  height: 55px;
  width: 40px;
  margin-left: 70px;
}
.subtitulo{
  color: #af825b;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  margin-left: 30px;
  font-size: 27px;
  font-style:italic;
  font-weight:bolder ;
  margin-left: 50px;
}
.pesq{
  margin-top: 7.5px;
}

.chats-list{
  background: #790505;
  margin-top: 5px;
  border-top-right-radius: 30px;
  border-top-left-radius: 38px;
  }

  ion-fab-button {
    --background: #790505;
    --background-activated: #790505;
    --background-hover: #790505;
    --border-radius: 15px;--box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3), 0px 1px 3px 1px rgba(0,0,0,.15);
  }

  .outer{
    --background:#af825b;
  }
