<ion-tabs >

  <ion-tab-bar color="principal" slot="bottom">

    <ion-tab-button class="icon" tab="tab3" >
      <ion-icon color="subcor" name="mail-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="icon" tab="tab2">
      <ion-icon color="subcor" name="calendar-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="icon" tab="tab1">
      <ion-icon color="subcor" name="book-outline"></ion-icon>
      </ion-tab-button>

    <ion-tab-button class="icon" tab="tab4">
      <ion-icon color="subcor" name="notifications-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button class="icon" tab="tab5">
      <ion-icon color="subcor" name="person-outline"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
