.tiagao{
  font-style: italic;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 60px;
  margin-top: 35px;
}
.titulo {
  color: #790505;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 25px;
}
.subtitulo {
  color: #af825b;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  margin-left: 30px;
}
.imagem {
  width: 95px;
  height: 95px;
  margin-left: 15px;
}
.div{
  height: 250px;
  width: 340px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.sel{
  color: #d9d9d9;
  text-align: center;
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.penho{
  color: #ffffff;
  border-radius: 10px;
  border-color: #ffffff;
  margin-left: 5px;
  margin-right: 5px;
}
.color{
  --ion-item-background: #790505;
  margin-top: 0px;
}
.div{
  height: 220px;
  margin-top: 10px;
  border: 0px;
  margin-left: 25px;
  margin-right: 25px;
}
.mater{
  font-style: italic;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 42px;
  margin-top: 35px;
}
.bio{
  margin-left: 15px;
  margin-right: 05px;
  --ion-item-background: #d9d9d9;
  border-color: #af825b;
  border-style: ridge;
  border-radius: 10px;
  height: 120px;
  background-repeat: no-repeat;
  background-image: url("../../assets/bio.png");
  background-size: 98px;
}
.esp{
  margin-right: 15px;
  margin-left: 05px;
  --ion-item-background: #d9d9d9;
  border-color: #af825b;
  border-style: ridge;
  border-radius: 10px;
  height: 120px;
  background-image: url("../../assets/espa.png");
  background-size: 98px;
  background-repeat: no-repeat;
  background-position: right;
}
.filo{
  margin-left: 15px;
  margin-right: 05px;
  --ion-item-background: #d9d9d9;
  border-color: #af825b;
  border-style: ridge;
  border-radius: 10px;
  height: 120px;
  background-image: url("../../assets/filo.png");
  background-size: 100px;
  background-repeat: no-repeat;
}
.fis{
  margin-right: 15px;
  margin-left: 05px;
  --ion-item-background: #d9d9d9;
  border-color: #af825b;
  border-style: ridge;
  border-radius: 10px;
  height: 120px;
  background-image: url("../../assets/fis.png");
  background-size: 98px;
  background-repeat: no-repeat;
  background-position: right;
}
.geo{
  margin-left: 15px;
  margin-right: 05px;
  --ion-item-background: #d9d9d9;
  border-color: #af825b;
  border-style: ridge;
  border-radius: 10px;
  height: 120px;
  background-image: url("../../assets/geo.png");
  background-size: 98px;
  background-repeat: no-repeat;
  background-position: left;
}
.his{
  margin-right: 15px;
  margin-left: 05px;
  --ion-item-background: #d9d9d9;
  border-color: #af825b;
  border-style: ridge;
  border-radius: 10px;
  height: 120px;
  background-image: url("../../assets/his.png");
  background-size: 98px;
  background-repeat: no-repeat;
  background-position: right;
}
.ing{
  margin-left: 15px;
  margin-right: 05px;
  --ion-item-background: #d9d9d9;
  border-color: #af825b;
  border-style: ridge;
  border-radius: 10px;
  height: 120px;
  background-image: url("../../assets/ing.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: left;
}
.port{
  margin-right: 15px;
  margin-left: 05px;
  --ion-item-background: #d9d9d9;
  border-color: #af825b;
  border-style: ridge;
  border-radius: 10px;
  height: 120px;
  background-image: url("../../assets/port.png");
  background-size: 110px;
  background-repeat: no-repeat;
  background-position: right;
}
.mat{
  margin-left: 15px;
  margin-right: 05px;
  --ion-item-background: #d9d9d9;
  border-color: #af825b;
  border-style: ridge;
  border-radius: 10px;
  height: 120px;
  background-image: url("../../assets/mat.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: left;
}
.qui{
  margin-right: 15px;
  margin-left: 05px;
  --ion-item-background: #d9d9d9;
  border-color: #af825b;
  border-style: ridge;
  border-radius: 10px;
  height: 120px;
  background-image: url("../../assets/quim.png");
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: right;
}
.red{
  margin-left: 15px;
  margin-right: 05px;
  --ion-item-background: #d9d9d9;
  border-color: #af825b;
  border-style: ridge;
  border-radius: 10px;
  height: 120px;
  background-image: url("../../assets/red.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: left;
}
.socio{
  margin-right: 15px;
  margin-left: 05px;
  --ion-item-background: #d9d9d9;
  border-color: #af825b;
  border-style: ridge;
  border-radius: 10px;
  height: 120px;
  background-image: url("../../assets/socio.png");
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: right;
}

.add{
  display: block !important;
}

.del{
  display: none;
}
