.titulo {
  color: #790505;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.subtitulo {
  color: #af825b;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imagem {
  width: 90px;
  height: 90px;
}
.fundo{
  color: #d9d9d9;
}
.esquilo{
  width: 120px;
  height: 120px;
  margin: 0%;
}
.thumbnail{
  width: 100px;
  height: 100px;
  margin-top: 60px;
}
