<ion-header [translucent]="true">
  <ion-item color="principal" class="titulo">
    <ion-thumbnail class="imagem" slot="start">
      <img src="../../assets/MicrosoftTeams-image.png" />
    </ion-thumbnail>
    <div>
      <ion-label class="subtitulo">Olá, Karol!</ion-label>
    </div>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true" color="fundo">
  <ion-card color="principal" class="div" >
    <div>
      <p class="desem">Desempenho Geral:</p>
      <ion-row>
        <ion-col>
        </ion-col>

        <ion-col class="color">
          <ion-list >
            <ion-item >
              <ion-select class="penho" placeholder="Selecionar desempenho">
                <ion-select-option value="apples">Apples</ion-select-option>
                <ion-select-option value="oranges">Oranges</ion-select-option>
                <ion-select-option value="bananas">Bananas</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col class="pt">
        <ion-item>

        </ion-item>
      </ion-col>
      <ion-col class="boso">
        <ion-item>

        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="pt">
        <ion-item>

        </ion-item>
      </ion-col>
      <ion-col class="boso">
        <ion-item>

        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="pt">
        <ion-item>
          <img class="geo" src="../../assets/geo.png" alt="">
        </ion-item>
      </ion-col>
      <ion-col class="boso">
        <ion-item>

        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="pt">
        <ion-item>

        </ion-item>
      </ion-col>
      <ion-col class="boso">
        <ion-item>

        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="pt">
        <ion-item>

        </ion-item>
      </ion-col>
      <ion-col class="boso">
        <ion-item>

        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col class="pt">
        <ion-item>

        </ion-item>
      </ion-col>
      <ion-col class="boso">
        <ion-item>

        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
