.subtitulo{
  color: #af825b;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  margin-left: 30px;
  font-size: 27px;
  font-style:italic;
  font-weight:bolder ;
  margin-left: 30px;
}
.app{
  color: #af825b;
  text-align: left;
  font-size: 20px;
  font-family: 'Brush Script' ;
}
.grid{
  color: #790505;
  border-style: solid;
  border-radius: 12px;
  border-width: 8px;
  background-color: #d9d9d9;
  margin-bottom: 0px;
  height: 210px;
  margin-top: 35px;
}

.img{
  width: 55%;
  margin-left: 5px;
}

.comeca{
  color: #af825b;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  margin-top: 60px;
  font-size: 25px;
  margin-right: 10px;

}



.doidoi{
  font-size: 20px;
  color: #af825b;
  font-weight: bolder;
}

.matmat{
  color: #790505;
  font-size: 16px;
}

.hora{
  margin-left: 15px;
  color: #af825b;
}

.div{
  margin-top: 50px;
}

.ter{
  font-size: 18px;
}

.comcom{
  margin-top: 50px;
}
