<ion-header [translucent]="true">
  <ion-item color="principal" class="titulo">
    <ion-thumbnail class="imagem" slot="start">
      <img src="../../assets/MicrosoftTeams-image.png" />
    </ion-thumbnail>
    <div>
      <ion-label class="app">Book'Study </ion-label>
      <ion-label class="subtitulo">Meu aplicativo de estudos!</ion-label>
    </div>
  </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
