.subtitulo{
  color: #af825b;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  margin-left: 30px;
  font-size: 27px;
  font-style:italic;
  font-weight:bolder ;
  margin-left: 30px;
}
.app{
  color: #af825b;
  text-align: left;
  font-size: 20px;
  font-family: 'Brush Script' ;
}
.grid{
  color: #790505;
  border-style: solid;
  border-radius: 12px;
  border-width: 8px;
  background-color: #d9d9d9;
  margin-bottom: 0px;
  height: 210px;
  margin-top: 35px;
}

.img{
  width: 55%;
  margin-left: 5px;
}

.comeca{
  color: #af825b;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  margin-top: 60px;
  font-size: 25px;
  margin-right: 10px;

}



.doidoi{
  font-size: 20px;
  color: #af825b;
  font-weight: bolder;
}

.matmat{
  color: #790505;
  font-size: 16px;
}

.hora{
  margin-left: 25px;
  margin-top: 25px;
  color: #af825b;
  font-size: 16px;
}

.div{
  margin-top: 30px;
}

.ter{
  font-size: 18px;
}

.comcom{
  margin-top: -10px;
  display: flex;
  position: relative;
  flex-flow: row nowrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 2vh;
  font-weight: 800;
  height: 100%;
  z-index: 1;
  margin-bottom: 20px;
}

.comecar{
  margin-left: -3vh;
}
.sel{
  color: #d9d9d9;
  text-align: center;
  font-size: 25px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card{
  height: 150px ;
  margin-top: 40px;
}
