<ion-header class="corzinha" >
  <ion-toolbar color="dificil" class="title">
    <ion-title class="rd">Competência I</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fundo">

  <ion-card>
    <ion-card-header>
      <ion-card-title color="subcor">Domínio das regras e convenções gramaticais</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A competência 1 da redação do Enem analisa o domínio das regras e convenções gramaticais da língua portuguesa, por parte do aluno, na escrita do texto. Sendo assim, nessa modalidade, o corretor observa se as orações estão completas, organizadas e bem divididas, além de verificar se as palavras estão com grafia correta e se aspectos como acentuação e pontuação são bem aplicados. Para que o candidato apresente um bom desempenho, é essencial exercitar a leitura e o estudo da gramática da língua."
     </ion-card-content>

    <ion-card-header>
      <ion-card-title>O que se avalia na competência 1 da redação do Enem?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A redação precisa evitar uso de gírias, expressões informais bem como vícios de linguagem. O candidato deve apresentar um texto de linguagem formal, tanto na ortografia quanto na organização sintática das frases, pois a competência 1 divide-se em:
      </ion-card-content>
      <ion-card-content>
        - <i>Estrutura sintática</i>: na análise das frases, o corretor avaliará a ordem na qual o candidato organiza seus períodos, se essa ordem contribui no sentido, se os períodos apresentam todos os sintagmas obrigatórios e se estão corretamente pontuados.
      </ion-card-content>
      <ion-card-content>
        - <i>Desvios gramaticais</i>: além da análise sintática, a competência 1 avalia os desvios gramaticais, que abarcam diferentes tópicos da variedade padrão da língua.
      </ion-card-content>

      <ion-card-header>
        <ion-card-title>Quais os erros mais recorrentes?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        O candidato que não exerce a variedade padrão da língua portuguesa pode cometer diversos desvios, mesmo sem consciência. Isso ocorre porque existem diferentes convenções que ignoramos nos textos cotidianos, mas que, na redação do Enem, podem ser penalizadas. Os erros mais comuns na competência 1 são:
       </ion-card-content>
        <ion-card-content>
       - <i>Crase indevida;</i>
       </ion-card-content>
       <ion-card-content>
        - <i>Vírgula indevida;</i>
        </ion-card-content>
        <ion-card-content>
          - <i>Maiúscula e minúscula;</i>
        </ion-card-content>
        <ion-card-content>
          - <i>Translineação;</i>
        </ion-card-content>
        <ion-card-content>
          - <i>Concordância verbal e nominal.</i>
        </ion-card-content>

  </ion-card>

  <ion-button color="facil" class="pt" fill="solid" routerLink="/redacao" >Voltar</ion-button>
  <ion-button color="facil" class="siga" fill="solid">Ir para Exercícios</ion-button>


</ion-content>
