@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.fundo{
  color: #d9d9d9;
}
.titulo {
  color: #790505;
  text-align: center;
  font-family:'Dancing Script';
  font-size: 15px;
  font-weight: 700;
}
.grid{
  color: #790505;
  border-style: solid;
  border-radius: 12px;
  border-width: 8px;
  background-color: #d9d9d9;
  margin-bottom: 0px;
  height: 500px;
  margin-top: 30px;
}
.bs{
  color: #af825b;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  text-decoration: solid;
  font-size: 29px;
  font-style: italic;
}
.cadas{
  color: #000000;
  text-align: center;
  font-size: 18px;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 40px;
}
.card{
  color: #790505;
  border-style: solid;
  border-radius: 10px;
  border-width: 6px;
  height: 70px;
  margin-top: 20px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
}
.carde{
  color: #790505;
  border-style: solid;
  border-radius: 10px;
  border-width: 6px;
  height: 70px;
  margin-top: 10px;
  margin-left: 12px;
  margin-right: 12px;
  text-align: center;
}
.volt{
  font-size: 7.5px;
  margin-left: 10px;
  margin-top: 20px;
}
.titul{
  color: #af825b;
  margin-left: 20px;
  font-size: 38px;
  font-family: 'Dancing Script' ;

}
.at{
  font-size: 9px;
  margin-top: 20px;
  margin-right: 10px;
}
