<ion-header>
  <ion-toolbar color="principal" class="toto">
    <ion-title class="title">Língua Portuguesa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fundo">
  <ion-card class="prim" color="facil">
    <ion-card-header >
      <ion-card-title class="titu">Figuras de Linguagem</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card  color="facil">
    <ion-card-header >
      <ion-card-title class="titu">Conectivos</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card  color="medio">
    <ion-card-header >
      <ion-card-title class="titu">Gêneros textuais</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card  color="medio">
    <ion-card-header >
      <ion-card-title class="titu">Linguagem formal e informal</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card  color="dificil">
    <ion-card-header >
      <ion-card-title class="titu">Funções de Linguagem</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card  color="dificil">
    <ion-card-header >
      <ion-card-title class="titu">Orações Subordinadas</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- fab/ botão voltar -->
  <ion-fab vertical="bottom" horizontal="left" slot="fixed" routerLink="/tabs/tab1">
    <ion-fab-button color="principal" >
      <ion-icon color="subcor" name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
