.title{
  color: #af825a;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-style: oblique;
  font-size: 28px;
  text-align: center;
  margin-top: 15px;
  position: relative;
}
.toto{
  height: 70px;
  border-radius: 10px;
}
.prim{
  margin-top: 30px;
}
.titu{
  color: #0000;
  font-size: 25px;
  font-family:'Times New Roman', Times, serif ;
  font-style:initial;
}
