<ion-header>
  <ion-item color="principal" class="titulo">
    <ion-thumbnail class="imagem" slot="start">
      <img src="../../assets/MicrosoftTeams-image.png">
    </ion-thumbnail>
    <div>
      <ion-label class="titi">Questionário</ion-label>
    </div>

  </ion-item>
</ion-header>

<ion-content color="fundo">
  <ion-grid class="grid">

          <ion-radio-group value="biff">
            <ion-list-header class="lactea" >
              <ion-label>Em caso de rendimento baixo no conteúdo:</ion-label>
            </ion-list-header>

            <ion-item color="#d9d9d9" >
              <ion-label>Repetir conteúdo. </ion-label>
              <ion-radio  slot="start" value="biff"></ion-radio>
            </ion-item>

            <ion-item color="#d9d9d9">
              <ion-label>Não repetir.</ion-label>
              <ion-radio slot="start" value="griff"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <p class="rosa"><b>Quais dias pretende estudar?</b></p>
          <ion-item color="#d9d9d9">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Domingo</ion-label>
          </ion-item>
          <ion-item color="#d9d9d9">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Segunda</ion-label>
          </ion-item>
          <ion-item color="#d9d9d9">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Terça</ion-label>
          </ion-item>
          <ion-item color="#d9d9d9">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Quarta</ion-label>
          </ion-item>
          <ion-item color="#d9d9d9">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Quinta</ion-label>
          </ion-item>
          <ion-item color="#d9d9d9">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Sexta</ion-label>
          </ion-item>
          <ion-item color="#d9d9d9">
            <ion-checkbox slot="start"></ion-checkbox>
            <ion-label>Sábado</ion-label>
          </ion-item>

          <ion-list color="#d9d9d9" class="red">
            <ion-item color="#d9d9d9"  >
              <ion-label>Redações por mês</ion-label>
              <ion-select placeholder="Selecionar" okText="selecionar" cancelText="Cancelar">
                <ion-select-option value="uno">1</ion-select-option>
                <ion-select-option value="dos">2</ion-select-option>
                <ion-select-option value="tres">3</ion-select-option>
                <ion-select-option value="quatro">4</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>

      <ion-range class="via" (ionKnobMoveStart)="onIonKnobMoveStart($event)" (ionKnobMoveEnd)="onIonKnobMoveEnd($event)"></ion-range>
      <div>
        <ion-label class="via" >Horas a estudar por dia: {{ moveStart }}</ion-label>
      </div>


      <ion-item color="d9d9d9" class="noti">
          <ion-label>Ativar Notificações do App</ion-label>
          <ion-toggle></ion-toggle>
        </ion-item>

        <ion-button color="principal" routerLink="/cadastro" class="botao" expand="block"> Confirmar questionário.</ion-button>

  </ion-grid>
</ion-content>
