.titulo {
  color: #790505;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagem {
  width: 90px;
  height: 90px;
}
.grid{
  color: #790505;
  border-style: solid;
  border-radius: 12px;
  border-width: 8px;
  background-color: #d9d9d9;
  margin-bottom: 0px;
  height: 900px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.titi{
  color: #af825b;
  text-align: left;
  font-size: 35px;
  font-family: 'Brush Script' ;
}
.lactea{
  margin-top: 10px;
}
.noti{
  margin-top: 40;
}
.via{
  margin-top: 20px;
  margin-left: 15px;
  margin-right: 15px;
}
.botao{
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 10px;
}
.rosa{
  text-align: center;
  color: black;
  margin-top: 40px;
  font-size: 20px;
}
.red{
  margin-top: 30px;
}
