<ion-header class="corzinha" >
  <ion-toolbar color="dificil" class="title">
    <ion-title class="rd">Tipagem Saguínea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fundo">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Introdução:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Os tipos sanguíneos foram descobertos no início de século XX pelo médico Karl Landsteiner.
Ele descobriu que ao misturar amostras de sangue de diferentes pessoas, as hemácias se aglutinavam.
Em 1902, ele concluiu que a incompatibilidade deve-se aos diferentes tipos de sangue existentes e das reações imunológicas entre eles.
descoberta dos tipos sanguíneos, por Landsteiner, representou um marco na história da medicina e ajudou a salvar muitas vidas.
     </ion-card-content>
    <ion-card-content>
      A espécie humana apresenta diversos tipos sanguíneos. Os mais importantes são o Sistema ABO e o Fator Rh.
    </ion-card-content>

    <ion-card-header>
      <ion-card-title>Sistema ABO:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A herança genética de grupos sanguíneos na espécie humana é um exemplo de <b>alelos múltiplos ou polialelia</b>.
    </ion-card-content>
    <ion-card-content>
      No Sistema ABO existem três genes que irão atuar na formação do tipo sanguíneo. São eles: IA IB e i. Conforme o padrão da herança, os grupos sanguíneos podem ser A, AB, B e O.
    </ion-card-content>
    <ion-card-content>
      Os alelos dos genes para o Sistema ABO determinam a presença ou ausência de substâncias na superfície externa das hemácias.    </ion-card-content>

      <ion-card-header>
      <ion-card-title>Incompatibilidade Sanguínea:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A incompatibilidade sanguínea é resultado de uma reação imunológica entre as substâncias presentes na membrana plasmática das hemácias e as substâncias dissolvidas no plasma. Em casos de incompatibilidade, essas substâncias se aglutinam.    </ion-card-content>
    <ion-card-content>
      As substâncias aglutinadoras presentes na superfície das hemácias são os aglutinogênios. Os <b>aglutinogênios são antígenos</b> e caracterizam o tipo sanguíneo do indivíduo.    </ion-card-content>
    <ion-card-content>
      As substâncias aglutinadoras do plasma são as aglutininas. As aglutininas são anticorpos capazes de reagir com os aglutinogênios e atuam na defesa do organismo.    </ion-card-content>
    <ion-card-content>
      A reação antígeno-anticorpo promove aglutinação das hemácias e determina a incompatibilidade sanguínea.
    </ion-card-content>


    <img alt="Silhouette of mountains" src="../../../assets/bio/tip.png" />

      <ion-card-content>
        <b>No Brasil, os grupos sanguíneos mais comuns são o O e o A.</b>
      </ion-card-content>
      <ion-card-content>
        Como o sangue tipo O não tem antígenos é considerado o doador universal.
        </ion-card-content>
      <ion-card-content>
        O sangue mais <b>raro é o tipo AB</b>. Ele <b>não possui anticorpos</b> e é considerado o <b>receptor universal</b>.
       </ion-card-content>


       <ion-card-header>
      <ion-card-title>Fator Rh:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      O Fator Rh foi descoberto em 1940 por Landsteiner e sua equipe.
O Fator Rh funciona independentemente do Sistema ABO. Ele está relacionado a produção de um antígeno localizado na membrana plasmática das hemácias.
      </ion-card-content>
    <ion-card-content>
      Geneticamente, o Fator Rh é determinado por dois alelos (R e r).
          </ion-card-content>
    <ion-card-content>
      Os portadores dos alelos RR ou Rr apresentam o fator Rh em suas hemácias, são Rh+. Os portadores de genótipos recessivos (rr) não produzem o fator Rh e são Rh-.    </ion-card-content>
   <br>
      <ion-card-content>
       <b>Veja a tabela de compatibilidade entre os tipos sanguíneos: </b>
         </ion-card-content>

    <img alt="Silhouette of mountains" src="../../../assets/bio/tabela.png" />
  </ion-card>

  <ion-button color="facil" class="pt" fill="solid" routerLink="/bio" >Voltar</ion-button>
  <ion-button color="facil" class="siga" fill="solid">Ir para Exercícios</ion-button>


</ion-content>
